name: CI build 2 - (macOS)
on:
  schedule:
    - cron: "14 */4 * * *"
  push:
    branches: [ master ]
  pull_request:
    branches:
  workflow_dispatch:
    branches:

jobs:
  build:

    env:
      PY_COLORS: "1"
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        os: [macos-latest]
        python-version: ["3.13"]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade pip
        pip install --upgrade wheel
        pip install -r requirements.txt
        pip install --upgrade pyautogui
    - name: Lint with flake8
      run: |
        pip install flake8
        # Stop the build if there are flake8 issues
        flake8 . --count --show-source --statistics --exclude=temp
    - name: Check the console scripts interface (methods)
      run: |
        seleniumbase methods
        sbase methods
    - name: Check the console scripts interface
      run: |
        seleniumbase
        sbase
    - name: Install chromedriver and uc_driver
      run: |
        seleniumbase install chromedriver
        seleniumbase install uc_driver
    - name: Make sure pytest is working
      run: |
        echo "def test_1(): pass" > nothing.py
        pytest nothing.py
    - name: Get CPU count
      run: |
        echo "import os; print(os.cpu_count())" > get_cpu_count.py
        python get_cpu_count.py
    - name: Run python raw_uc_mode.py --debug
      run: |
        python raw_uc_mode.py --debug
    - name: Run python raw_cdp.py --debug
      run: |
        python raw_cdp.py --debug
    - name: Run python raw_socialblade.py --debug
      run: |
        python raw_socialblade.py --debug
    - name: Run python raw_gitlab.py --debug
      run: |
        python raw_gitlab.py --debug
    - name: Run python raw_turnstile.py
      run: |
        python raw_turnstile.py --debug
    - name: Run python raw_turnstile_cdp_mode.py
      run: |
        python raw_turnstile_cdp_mode.py --debug
    - name: Run python raw_walmart.py --debug
      run: |
        python raw_walmart.py --debug
    - name: Upload screenshots
      uses: actions/upload-artifact@v6
      with:
        name: seleniumbase-screenshots
        path: |
          ./latest_logs/
